*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    /* overflow-x: hidden; */
}

#top{
    width: 100%;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
        background-image: url('bgimages/11910.jpg');
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('bgimages/rm380-12.jpg'); */
      background-size: cover; 
      background-position: center;
      background-repeat: no-repeat; 
      background-attachment: fixed;
      /* opacity: 0.8; */
      z-index: -1; 
    }
}

    .navBar{
        width: 100%;
        /* border: 1px solid rgb(191, 191, 248); */
        height: 5rem;
        display: flex;
        flex-direction: row;
       justify-content: space-around;
        align-items: center;
        background: rgb(237,237,237, .1);
        backdrop-filter: blur(10px);
        img{
            height: 5rem;
            width: 10rem;
        }

        .navcontent{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            a{
                text-decoration: none;
                font-size: 1.5rem;
                color:rgb(70, 70, 128);
            }
        }
    }

    .main_content{
      width: 100%;
      height: 100vh;
      /* border: 1px solid rgb(70, 70, 128); */
      border-top: 1px solid rgb(70, 70, 128);
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .tagLine{
      width: 60%;
      font-size: 4rem;
      color: black;
    }
    


    .form-container {
      background-color: #fff;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.29);
      width: 320px;
        }
        .form-container h2 {
            text-align: center;
            padding: 20px;
            background-color: #586e86;
            color: #fff;

        }
        .form-group {
            margin: 7.5px 0;
            padding: 0 20px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-group input:focus {
            border-color: #586e86;
            outline: none;
        }
        .form-group button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            background-color: #586e86;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        .form-group button:hover {
            background-color: #73869b;
        }

    .ContactSection{
        width: 100%;
        /* border: 1px solid green; */
        height: 2rem;
        /* border-top: 1px solid rgb(70, 70, 128);
        border-bottom: 1px solid rgb(70, 70, 128); */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: rgb(237,237,237, .1);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 5px black;
        a{
            text-decoration: none;
            font-size: 1.2rem;
        }
    }


    .About{
        /* border: 1px solid blue; */
        width: 100%;
        /* height: 800px; */
        padding: 2rem;
    
        display: flex;
        
        flex-direction: column;
        align-items: center;
        gap: 0.7rem;
    
        .options{
    
            /* border: 1px solid black; */
            height: 50%;
            width: 75%;
            
            /* display: grid; */
            /* grid-template-rows: repeat(1,1fr) ;
            grid-template-columns: repeat(5,1fr) ; */
            /* grid-template-columns: repeat(auto-fit, minmax(200px, 300px)); */
            
            gap: 1rem;
    
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
            .aboutitem{
                border: 1px solid orange;
                border-radius: 0.5rem;
                max-width: 250px;
                width: 15rem;
                height: 15rem;
    
                display: flex;
                /* justify-content: center; */
                align-items: center;
    
                box-shadow: 1px 1px 5px black;
            }
    
            #one{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .images{
                    /* border: 1px solid black; */
                    height: 50%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                }
                img{
                    height: 5rem;
                    width: 5rem;
                    /* border: 1px solid; */
                }
    
                p{
                    font-size: 1.2rem;
                    /* border: 1px solid; */
                    text-align: center;
                    padding: 1rem;
                }
    
                transition: all 0.2s linear 0s;
                /* for smooth transition */
            }
    
            #one:hover{
                transform: scale(1.02);
            }
    
        }
        }


    .Services{
        /* border: 1px solid; */
        width: 100%;
        /* height: 250px; */
        display: grid;
        place-items: center;

        padding: 2rem;
        row-gap: 0.7rem;
        
        h2{font-size: 2rem;
            padding-bottom: 1rem;}

        /* background-image: url(pics/money-2724241_1280.jpg); */
          position: relative;
          overflow: hidden;
          
          &::before{
              content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
              /* background-image: url('pics/polygonal18.jpg'); */
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat; 
            background-attachment: fixed;
            opacity: 0.7;
            z-index: -1; 
        }
    }

    .list {
        display: flex;
        gap: 0.3rem;
        transform-style: preserve-3d;
        list-style-type: none;
      
        &:hover :not(:hover) {
          margin: 0 -25px;
          transform: perspective(500px) rotateY(45deg) scale(0.90);
        }
      
        &:hover :not(:hover)::after {
          opacity: 0.4;
        }
      }
      
      .item {
        position: relative;
        width: 12rem;
        height: 15rem;
        aspect-ratio: 1/1;
        border-radius: 0.25rem;
        background-size: cover;
        background-position: center;
        transition: margin 0.5s, transform 0.5s;
       
      
        &:nth-of-type(1) { background-image: url(pics/chart-1296049_1920-removebg-preview.png); 
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: rgb(192, 226, 231);
          /* border: 1px solid orange; */
          /* box-shadow: 0px 0px 10px black; */
          border-radius: 0.5rem;
          text-align: center;
          align-content: end;
          font-weight: bolder;

          padding: 0.7rem;
          
          }
        &:nth-of-type(2) { background-image: url(pics/R.jpeg-removebg-preview.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: rgb(242, 242, 216);
          border-radius: 0.5rem; 
          text-align: center;
          align-content: end;
          font-weight: bolder;

          padding: 0.7rem;
        }
        &:nth-of-type(3) { background-image: url(pics/png-clipart-two-cord-illustration-maize-corn-food-cartoon-removebg-preview.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: rgb(221, 242, 216);
          border-radius: 0.5rem; 
          text-align: center;
          align-content: end;
          font-weight: bolder;

          padding: 0.7rem;
         }
        &:nth-of-type(4) { background-image: url(pics/pngtree-money-clipart-coin-cartoon-banknote-clipart-elements-png-image_2410174__1_-removebg-preview.png); 
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: rgb(236, 233, 188);
          border-radius: 0.5rem; 
          text-align: center;
          align-content: end;
          font-weight: bolder;

          padding: 0.7rem;
        }
        &:nth-of-type(5) { background-image: url(pics/businessman-running-on-financial-bar-graph-illustration-vector-removebg-preview.png); 
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: rgb(230, 227, 242);
          border-radius: 0.5rem; 
          text-align: center;
          align-content: end;
          font-weight: bolder;

          padding: 0.7rem;
        }
      
        &:hover ~ .item {
          transform: perspective(500px) rotateY(-45deg) scale(0.90);
        }
      
        &:hover {
          transform: perspective(500px) rotateY(0) scale(1.15);
        }

        &::after {
          content: '';
          top:0;
          left:0;
          height: 100%;
          position: absolute;
          width: inherit;
          aspect-ratio: inherit;
          border-radius: inherit;
          background-color: black;
          opacity: 0;
          transition: opacity 0.5s;
        }
      }

    .Review{
        /* border: 1px solid red; */
        margin-top: 2rem;
        padding: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f4f4f4;
        position: relative;
        text-align: center;
    }

    .swiper-container {
      width: 70%;
      max-width: 600px; /* Medium width */
      margin-bottom: 20px; /*Add space below the slider */
  }

  .swiper-slide {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px 0; /* Add gap between slides */
  }
  .client-img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
  }
  .client-name {
      font-size: 18px;
      font-weight: bold;
      color: #007bff;
  }
  .client-testimonial {
      font-size: 16px;
      color: #555;
  }

  .swiper-button-next, .swiper-button-prev {
    color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

    .footer{

      /* border: 1px solid red; */
      width: 100%;
      height: 400px;
      background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
      background-blend-mode: multiply;

      display: flex;
      flex-direction: row;
      --textcolor :rgb(150, 145, 145);
      --startfontsize : 1rem;

      .start{
          width: 36%;
          /* border: 1px solid; */
          margin: 1rem;
          padding: 3rem;

          h2{
              color: white;
              /* text-decoration: underline; */
           }

          .desc{

              padding-top: 1rem;
              display: flex;
              flex-direction: row;

              /* border: 1px solid; */



              img{
                  height: 2.5rem;
                  width: 2.5rem;
                  /* border: 1px solid white; */
              }
              
              .subdesc{
                  p{ 
                      color: var(--textcolor);
                      font-size: var(--startfontsize);
                  }
                  /* #p1{ padding-top: 1rem;} */
      
                  a{ color: var(--textcolor);
                     text-decoration: none;
                     font-size: var(--startfontsize);
                  }
              }
          }  
          
          .desc2{
              padding-top: 1rem;
              padding-left: 0.5rem;
              display: flex;
              flex-direction: row;
              gap: 0.5rem;
              img{
                  height: 1.5rem;
                  width: 1.5rem;
              }
              
              .subdesc{
                  /* border: 1px solid red; */
                  display: flex;
                  align-items: center;
                  a{ color: var(--textcolor);
                     text-decoration: none;
                     font-size: var(--startfontsize);
                  }
              }
          }


          .desc3{
              padding-top: 1rem;
              padding-left: 0.5rem;
              display: flex;
              flex-direction: row;
              gap: 0.4rem;
              /* border: 1px solid; */

              img{
                  height: 2rem;
                  width: 2rem;
                  padding-top: 0.5rem;
              }
              
              .subdesc{
                  /* border: 1px solid red; */
                  display: flex;
                  align-items: center;
                  a{ color: var(--textcolor);
                     text-decoration: none;
                     font-size: var(--startfontsize);
                  }
              }
          }         
      }

      .mid{
          width: 15%;
          /* border: 1px solid; */
          margin: 1rem;
          padding: 3.5rem;

          h2{
              color: white;
          }

          .desc{
              padding-top: 0.9rem;
              /* padding-left: 1rem; */
              display: flex;
              flex-direction: column;
              
              a{
                  text-decoration: none;
                  color: var(--textcolor);
                  font-size: var(--startfontsize);
              }
          }
      }

      .mid2{

          width: 15%;
          /* border: 1px solid; */
          margin: 1rem;
          padding: 3rem;

          #polheading{
              padding-top: 0.5rem;
              color: white;
          }
          .Policiesdesc{

              /* border: 1px solid; */
              padding-top: 0.7rem;
              display: flex;
              flex-direction: column;

              a{
                  font-size: var(--startfontsize);
                  text-decoration: none;
                  color: var(--textcolor);
              }
          }
      }

  .logo{

      /* border: 1px solid; */
      width: 19%;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
          width: 20rem;
          height: 8rem;
      }
  }
  }